@import (inline) "pure.css";
@import (inline) "tables.css";
@import (inline) "grids-responsive.css";
@import (inline) "buttons.css";
@import (inline) "forms.css";
@import (inline) "buttons-core.css";
@font-size: 1em;
@button-width: 100%;

body {
  font-size: @font-size;
}

.header {
  text-align: center;
}

.sitzungsliste-table {
  width: 70%;
}

.buttons {
	padding:6px;
}

.create-new {
	padding: 6px;
}

.center {
  justify-content: center;
}

.pure-g {
  display: flex;
}

.pure-button {
  width: @button-width;
}

.select { 
	background: rgba(45, 105, 126, 0.801) !important; 
}

tr:hover td { 
	background: rgba(81, 152, 175, 0.562) !important;
}

.invisible {
	display: none;
}

.pagination-buttons {
	width: 10%;
	padding: 6px;
}